h1 {
    color: green;
}

.flex-cont {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


label {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
}

#search-btn {
    margin-top: 20px;
}

#reserve-btn {
    margin-left: 10px;
}

body {
    text-align: center;
}

.user-dates {
    margin: 10px;
}

.user-times {
    margin: 10px;
}

.green {
    background-color: green;
    color: white;
}