h1 {
    color: green;
}

.flex-cont {
    display: flex;
    margin-top: 20px;
}


label {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
}

#search-btn {
    margin-top: 20px;
}

#reserve-btn {
    margin-left: 10px;
}

body {
    text-align: center;
}