{% extends 'base.html' %}
{% block title %}Melon Tasting Reservations{% endblock %}
{% block body %}
    <div>
        <a href="/view-reservations">
            <button id="view" class="btn btn-outline-success"type="button">View Reservations</button>
        </a>
    </div>
    <div class="title">
        <h1>Melon Tasting Reservations</h1>
        <p>We offer coverage 24/7/365 (including weekends and holidays!)</p>
    <div>
    <div>
        <a href="/login-page">
            <button type="button" class="btn btn-success">Login</button>
        </a>
    <div>
    <div id="search-form-cont">
    <script type="text/jsx" src="/static/js/search_form.jsx">
{% endblock body %}